@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FE9D5C;
  background: #2F5369;
  font-family: Poppins, Helvetica, sans-serif;
}

.buttonHAnimation {       
  transition: 0.5s      
}

.buttonHAnimation:hover {
  cursor:pointer;
  background-color: #FE7F2D;
  border-color: #264354;
  color: #264354;
}

.buttonHAnimationINV {       
  transition: 0.5s      
}

.buttonHAnimationINV:hover {
  cursor:pointer;
  background-color: #264354;
  border-color:  #FE7F2D;
  color: #FE7F2D;
}

.textoLinha{
  text-shadow: 0 0 3px #000
}

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.2em;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #FE6804;
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}